# Pandas Training

In [94]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import matplotlib.dates as mdates

### Create Series and DataFrames

In [133]:
product = ["house", "boat", "airplane", "bike"]
sproduct = pd.Series(product)
# display(sproduct)

sprice = pd.Series(np.random.uniform(500, 100000, size=4))
# print(sprice)

# create a dataframe with series above
df = pd.DataFrame({"products": sproduct, "price": sprice})
display(df)

display(df["price"])
display(df.dtypes)

# create a serie with a custom index
new_serie = pd.Series([2, 4, 6, 8], index=['a', 'b', 'c', 'd'])
print(">> using the index", new_serie['b'])

   products         price
0     house  76387.398198
1      boat  13456.401096
2  airplane  30273.274593
3      bike  42003.702445

0    76387.398198
1    13456.401096
2    30273.274593
3    42003.702445
Name: price, dtype: float64

products     object
price       float64
dtype: object

>> using the index 4

### Examining the properties of a Series

In [137]:
# finding the size of a serie
print(new_serie.size)
print(len(new_serie))
print(new_serie.shape)

4
4
(4,)

#### Accessing the values of the individual elements in a Series

In [140]:
print(new_serie.values)

[2 4 6 8]

#### Accessing the index of a Series

In [142]:
print(new_serie.index)

Index(['a', 'b', 'c', 'd'], dtype='object')

#### Obtaining the unique values in a Series and their count

In [145]:
serieb = pd.Series(['a', 'b', 'a', 'c'])
print(serieb.value_counts())

a    2
b    1
c    1
dtype: int64

#### Method chaining for a Series

In [154]:
sproduct.value_counts().head()
sproduct.value_counts()\
.head(2)\
.values

array([1, 1])

### DataFrames

#### Creating DataFrames

In [157]:
student_ages = pd.Series([22, 24, 20])
teacher_ages = pd.Series([40, 50, 45])
df = pd.DataFrame([student_ages, teacher_ages])
df.columns=['class1', 'class2', 'class3']
df

   class1  class2  class3
0      22      24      20
1      40      50      45